{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header text-center">
                    <h3>Письмо с инструкциями отправлено</h3>
                </div>
                <div class="card-body text-center">
                    <p>Мы отправили вам письмо с инструкциями по сбросу пароля. Пожалуйста, проверьте вашу почту.</p>
                    <a href="{% url 'login' %}" class="btn btn-primary w-100">Вернуться к входу</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
